body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  background: url(/bg.43bfd8b0.jpg) no-repeat center/cover fixed;
}
body .container {
  padding: 50px 0;
}
body .container .heroes {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 660px;
  margin: 0 auto;
  padding: 40px 20px;
}
body .container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #555;
  transform: skewX(-14deg);
  transition: transform 0.1s, background-color 0.3s;
}
body .container .heroes .hero:hover {
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}
body .container .heroes .hero:nth-of-type(1) .image {
  background-image: url(/hero1.7cebc2d8.png);
}
body .container .heroes .hero:nth-of-type(2) .image {
  background-image: url(/hero2.544fa811.png);
}
body .container .heroes .hero:nth-of-type(3) .image {
  background-image: url(/hero3.b0470316.png);
}
body .container .heroes .hero:nth-of-type(4) .image {
  background-image: url(/hero4.2c39ccf1.png);
}
body .container .heroes .hero:nth-of-type(5) .image {
  background-image: url(/hero5.36d87195.png);
}
body .container .heroes .hero:nth-of-type(6) .image {
  background-image: url(/hero6.ccde3242.png);
}
body .container .heroes .hero:nth-of-type(7) .image {
  background-image: url(/hero7.26a60798.png);
}
body .container .heroes .hero:nth-of-type(8) .image {
  background-image: url(/hero8.ef1f8d32.png);
}
body .container .heroes .hero:nth-of-type(9) .image {
  background-image: url(/hero9.8b410868.png);
}
body .container .heroes .hero:nth-of-type(10) .image {
  background-image: url(/hero10.cf6572f9.png);
}
body .container .heroes .hero:nth-of-type(11) .image {
  background-image: url(/hero11.15dfec5d.png);
}
body .container .heroes .hero:nth-of-type(12) .image {
  background-image: url(/hero12.6dfcc594.png);
}
body .container .heroes .hero:nth-of-type(13) .image {
  background-image: url(/hero13.97dc3c96.png);
}
body .container .heroes .hero:nth-of-type(14) .image {
  background-image: url(/hero14.dcbe42f6.png);
}
body .container .heroes .hero:nth-of-type(15) .image {
  background-image: url(/hero15.65e2cb23.png);
}
body .container .heroes .hero:nth-of-type(16) .image {
  background-image: url(/hero16.91b3da1f.png);
}
body .container .heroes .hero:nth-of-type(17) .image {
  background-image: url(/hero17.7c512f45.png);
}
body .container .heroes .hero:nth-of-type(18) .image {
  background-image: url(/hero18.20681b59.png);
}
body .container .heroes .hero:nth-of-type(19) .image {
  background-image: url(/hero19.d5824947.png);
}
body .container .heroes .hero:nth-of-type(20) .image {
  background-image: url(/hero20.bde24d0a.png);
}
body .container .heroes .hero:nth-of-type(21) .image {
  background-image: url(/hero21.c5f0776d.png);
}
body .container .heroes .hero:nth-of-type(22) .image {
  background-image: url(/hero22.bb2f5590.png);
}
body .container .heroes .hero:nth-of-type(23) .image {
  background-image: url(/hero23.714ddfd8.png);
}
body .container .heroes .hero:nth-of-type(24) .image {
  background-image: url(/hero24.21be57ee.png);
}
body .container .heroes .hero:nth-of-type(25) .image {
  background-image: url(/hero25.8737d38a.png);
}
body .container .heroes .hero:nth-of-type(26) .image {
  background-image: url(/hero26.41712c5f.png);
}
body .container .heroes .hero:nth-of-type(27) .image {
  background-image: url(/hero27.3fd38e86.png);
}
body .container .heroes .hero:nth-of-type(28) .image {
  background-image: url(/hero28.083faa22.png);
}
body .container .heroes .hero:nth-of-type(29) .image {
  background-image: url(/hero29.401426ba.png);
}
body .container .heroes .hero:nth-of-type(30) .image {
  background-image: url(/hero30.23a8696f.png);
}
body .container .heroes .hero:nth-of-type(31) .image {
  background-image: url(/hero31.8419f17f.png);
}
body .container .heroes .hero:nth-of-type(32) .image {
  background-image: url(/hero32.01e58944.png);
}
body .container .heroes .hero .image {
  width: 140%;
  height: 100%;
  transform: translateX(-16px) skewX(14deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
}
body .container .logo {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
body .container .logo img {
  width: 100%;
}

/*# sourceMappingURL=/main2.587704b4.css.map */